---
layout: home
title: "Hey, I'm Benji"
class: home
---

  <section class="pitch">
    <h1>Hey, I’m <span class="p-name">Benji<span class="visuallyhidden"> Mauer</span></span>.</h1>
    <p>I’m an 
      <span class="p-category">interdisciplinary</span> <span class="p-category">UX</span> <span class="p-category">leader</span> with 15+ years in <span class="p-category">nonprofit</span> and <span class="p-category">political</span> <span class="p-category">tech</span> as a <span class="p-category">designer</span>, <span class="p-category">researcher</span>, <span class="p-category">developer</span>, and <span class="p-category">entrepreneur</span>.
      Most recently a Senior User Researcher at ActBlue, 
      previous clients include 
      YouthBuild USA, 
      United for a Fair Economy, and
      Equal Exchange.
      I’m a card-carrying member of the <a href="http://usworker.coop">US Federation of Worker Cooperatives</a>.
    </p>
  </section>
  
  {% if site.portfolio %}
  <section class="portfolio">
    <h2>Case Studies</h2> 
    
    <ul class="projects">
      {% for project in site.portfolio reversed %}
      <li class="project-card">
        <a href="{{ project.url }}">
          <img class="project-thumbnail" src="{{ project.thumbnail | prepend: site.baseurl }}" alt="{{ project.thumbnail-alt }}">
          <h3 class="project-title">
            {{ project.title }}
          </h3>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  
  <section class="thoughts">
    <h2>Thoughts</h2>
    
    <ul class="posts-widget">
      {% for page in site.posts limit:3 %}
        <li class="posts-widget-post">
          <h3 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
          {{ page.excerpt }}
        </li>
      {% endfor %}
    </ul>
    
    <a href="{{ '/posts/' | prepend: site.baseurl }}">See more posts</a>
  </section>
  
  <section class="contact">
    <h2>Contact&hellip;</h2>
    <section class="contact-points">
      <p>Stay in touch to exchange thought-provoking ideas, rad Boston events, and inspiring calls-to-action.</p>

      <section class="contact-points-section contact-points-signup">
         <nav>
          <a class="social-icon social-icon-mastodon p-url" href="https://social.coop/@heybenji" rel="me">Mastodon</a>
          <a class="social-icon social-icon-linkedin p-url" href="https://www.linkedin.com/in/heybenji" rel="me">LinkedIn</a>
        </nav>
      </section>

      <section class="contact-points-section contact-points-info">
        <p><a href="mailto:hey@heybenji.co" class="u-email contact-email">hey@heybenji.co</a></p>
      </section>
    </section>
  </section>
