$benji-blue: #50E3C2;
$benji-blue-dark: darken($benji-blue, 10%);
$benji-blue-accessible: #0A745D;
$benji-blue-accessible-slate: #0A5374;
$benji-purple: #895689;
$white: #FCFAFB;
$black: mix($white, #000, 5%);
$border-radius: 8px;
$spacing-unit: 1rem;

%brand-font {
  font-family: 'Hernandez-Bold', 'Helvetica', 'Arial', 'sans-serif';
}

%body-font {
  font-family: 'Zilla Slab', 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
}

%fancy-image {
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: $border-radius;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}

body {
  background: $white;
  color: transparentize($black, .25);
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8rem;
  @extend %body-font;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1,
h2 {
  color: $benji-purple;
}

h2 {
  font-size: 1.5rem;
  @extend %brand-font;
}

h3 {
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  margin-bottom: 1rem;
}

th {
  text-align: left;
}

td, th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th {
  border-bottom: 3px solid fade-out($black, 0.9);
}

td {
  border-top: 1px solid fade-out($black, 0.9);
}

%styled-list {
  margin-left: 1rem;
  margin-bottom: 1rem;
  li {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

%small-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

a {
  color: $benji-blue-accessible;
  text-decoration: none;
  transition: color .3s ease;
  border-bottom: 3px solid transparentize($benji-blue, .9);
}

em {
  font-weight: normal;
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-left: 2rem;
  &::before {
    content: open-quote;
    @extend %brand-font;
    color: $benji-purple;
  }
}

figure {
  margin-bottom: 2rem;
  img {
    @extend %fancy-image;
  }
}

figcaption {
  margin-top: .5rem;
  @extend %small-text;
}

a:hover,
a:focus {
  color: $benji-blue-dark;
}

a:active {
  color: #000;
  opacity: 1;
}

img {
  width: 100%;
  height: auto;
}

.note {
  @extend %small-text;
}

/* Branding
------------------------------------------------- */

.site-title {
  @extend %brand-font;
  color: transparentize($black, .25);
  font-size: 1.5rem;
  
}

/* Footer
------------------------------------------------- */

.site-footer {
  font-size: .75rem;
}

/* Home
------------------------------------------------- */

.home > section {
  margin-bottom: 4rem;
}

/* Pitch
------------------------------------------------- */

.pitch {
  font-size: 1.125em;
  line-height: 2em;
  color: transparentize($black, .4);
}

.pitch h1 {
  @extend %brand-font;
  font-weight: normal;
  color: $benji-purple;
  font-size: 1.25em;
}


/* Contact
------------------------------------------------- */

.contact {
  border: 1px solid $benji-purple;
  background-color: $benji-purple;
  color: $white;
}

.contact h2 {
  font-family: 'Hernandez-Bold', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.375em;
  margin-bottom: 0;
}

.contact-points p:first-child {
  margin-top: 1rem;
}

.contact-points-info p:first-child {
  margin-top: 2rem;
}

.contact-points .contact-email,
.contact-points .contact-phone {
  font-size: 1em;
}

.contact-points a {
  color: $white;
}

/* Social Icons
------------------------------------------------- */

.social-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: 100%; /* hide text: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
  background-image: url('../images/icons-social-sprite.svg');
  background-repeat: no-repeat;
  background-size: 34px auto;
}

.social-icon-twitter {
  background-position: 0px 0px;
}

.social-icon-facebook {
  background-position: 0px -44px;
}

.social-icon-linkedin {
  background-position: 0px -88px;
}

.social-icon-mastodon {
  background-position: 0px -132px;
}

/* Thoughts
------------------------------------------------- */

.posts-widget {
  .post-title,
  .post-meta {
    color: transparentize($black, .6);
    margin-bottom: 0;
  }

}


/* Posts
------------------------------------------------- */

.post {
  .post-content {
    margin-top: 1rem;
  }
  .post-title {
    @extend %brand-font;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
  }
  
  .post-supertitle {
    text-transform: uppercase;
    margin-bottom: .5rem;
    @extend %small-text;
  }
  
  .post-meta {
    color: transparentize($black, .6);
  }

  ul {
    @extend %styled-list;
    list-style: disc;
  }

  ol {
    @extend %styled-list;
    list-style: decimal;
  }
  table th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.875em;
  }
}

.posts {
  .post {
    margin-bottom: 4rem;
  }
  .post .post-meta {
    margin-bottom: 1rem;
  }
  .post .post-title {
    margin-bottom: 1rem;
  }
}

.back-to-posts {
  margin-top: 4rem;
}

/* Portfolio
------------------------------------------------- */

.projects {
  
  
}

.project-card {
  position: relative;
  
  a {
    border-bottom: none;
  }
  
  &.card-locked a::before {
    content: url("/images/icon-lock-reverse.svg");
    width: 14px;
    height: 20px;
    position: absolute;
    padding: 4px 8px;
    background: $benji-blue-accessible;
    top: 8px;
    right: 8px;
    border-radius: 4px;
    z-index: 10;
    transition: all ease-in-out 200ms;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:hover::before {
      transform: translate(-6px, -6px);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    }
    
    a:hover img {
      transform: translate(-4px, -4px);
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
    }
  }
}

.project-thumbnail {
  @extend %fancy-image;
  transition: all ease-in-out 200ms;
  z-index: 5;
}

.project-featured-image {
  @extend %fancy-image;
}

.post.project {
  
  .post-title {
    margin-bottom: 2rem;
  }
  
  section h2 {
    color: $benji-purple;
  }
  
  section {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
  }
  
  .project-summary {
    ol, ul {
      font-size: 1.5rem;
      line-height: 2rem;
      li {
        margin-bottom: 1rem;
      }
    }
  }

}

.image-gallery {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.image-gallery.fancy li {
  @for $i from 1 to 10 {
    &:nth-child(#{$i}) {
      transform: rotate(#{randomNum(-2, 2)}deg);
    }
  }
  
  img {
    @extend %fancy-image;
  }
}

video {
  width: 100%;
  height: auto;
  @extend %fancy-image;
}


/* Forms
------------------------------------------------- */

/* style the placeholder text on the form */

::-webkit-input-placeholder {
   color: transparentize($white, .33);
}

:-moz-placeholder { /* Firefox 18- */
   color: transparentize($white, .33);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: transparentize($white, .33);
}

:-ms-input-placeholder {
   color: transparentize($white, .33);
}

input[type='text'],
input[type='email'] {
  border: 0;
  background: transparentize($white, .75);
  font-family: 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1rem;
  padding: .5rem 2%;
  width: 96%;
  color: $white;
}

/* custom checkbox: http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  cursor: pointer;
}

input[type='checkbox'] + label span {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url('../images/ui-checkbox-sprite.svg') 0 0 no-repeat ;
  cursor: pointer;
}

input[type='checkbox']:checked + label span {
  background-position: 0 -22px;
}

input[type=submit] {
  border: 1px solid $white;
  font-family: 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  color: $white;
  background: transparent;
  transition: all .2s ease;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: transparentize($white, .75);
}

input[type=submit]:active {
  background: $white;
  color: #000;
}

/* Utilities
------------------------------------------------- */

.visuallyhidden {
  position: absolute; /* visually hidden: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
