$benji-blue: #50E3C2;
$benji-blue-dark: darken($benji-blue, 10%);
$benji-purple: #895689;
$white: #FCFAFB;
$black: mix($white, #000, 5%);

%brand-font {
  font-family: 'Hernandez-Bold', 'Helvetica', 'Arial', 'sans-serif';
}

%body-font {
  font-family: 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
}

body {
  background: $white;
  color: transparentize($black, .25);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  @extend %body-font;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: transparentize($black, .25);
  text-decoration: none;
  transition: color .3s ease;
}

em {
  font-weight: normal;
  font-style: italic;
}

a:hover,
a:focus {
  color: $benji-blue-dark;
}

a:active {
  color: #000;
  opacity: 1;
}

/* Branding
------------------------------------------------- */

.site-title {
  @extend %brand-font;
  font-size: 1.5rem;
}

/* Pitch
------------------------------------------------- */

.pitch {
  font-size: 1.125em;
  line-height: 2em;
  color: transparentize($black, .4);
}

.pitch h1,  
.pitch p {
  display: inline; /* so they run together */
}

.pitch strong,
.pitch h1 {
  @extend %brand-font;
  font-weight: normal;
  color: $benji-purple;
  font-size: 1.25em;
}

.pitch a,
.post a,
.site-title {
  border-bottom: 3px solid transparentize($benji-blue, .9);
}

/* Contact
------------------------------------------------- */

.contact {
  border: 1px solid $benji-purple;
  background-color: $benji-purple;
  color: $white;
}

.contact h2 {
  font-family: 'Hernandez-Bold', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.375em;
  margin-bottom: 0;
}

.contact-points p:first-child {
  margin-top: 1rem;
}

.contact-points-info p:first-child {
  margin-top: 2rem;
}

.contact-points .contact-email,
.contact-points .contact-phone {
  font-size: 1em;
}

.contact-points a {
  color: $white;
}

/* Social icons */

.social-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  text-indent: 100%; /* hide text: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
  background-image: url('../images/icons-social-sprite.svg');
  background-repeat: no-repeat;
  background-size: 34px auto;
}

.social-icon-twitter {
  background-position: 0px 0px;
}

.social-icon-facebook {
  background-position: 0px -44px;
}

.social-icon-linkedin {
  background-position: 0px -88px;
}

/* Posts
------------------------------------------------- */

.post {
  .post-title {
    @extend %brand-font;
    font-size: 2rem;
    line-height: 2rem;
    color: $benji-purple;
    margin-bottom: 0;
  }
  .post-meta {
    color: transparentize($black, .6);
  }
  a {
    color: darken($benji-blue, 15%);
    &:hover,
    &:focus {
      color: $benji-blue;
    }
  }
}

/* Forms
------------------------------------------------- */

/* style the placeholder text on the form */

::-webkit-input-placeholder {
   color: transparentize($white, .33);
}

:-moz-placeholder { /* Firefox 18- */
   color: transparentize($white, .33);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: transparentize($white, .33);  
}

:-ms-input-placeholder {  
   color: transparentize($white, .33);  
}

input[type='text'],
input[type='email'] {
  border: 0;
  background: transparentize($white, .75);
  font-family: 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1rem;
  padding: .5rem 2%;
  width: 96%;
  color: $white;
}

/* custom checkbox: http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  cursor: pointer;
}

input[type='checkbox'] + label span {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url('../images/ui-checkbox-sprite.svg') 0 0 no-repeat ;
  cursor: pointer;
}

input[type='checkbox']:checked + label span {
  background-position: 0 -22px;
}

input[type=submit] {
  border: 1px solid $white;
  font-family: 'Sanchez', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  color: $white;
  background: transparent;
  transition: all .2s ease;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: transparentize($white, .75);
}

input[type=submit]:active {
  background: $white; 
  color: #000;
}

/* Utilities
------------------------------------------------- */

.visuallyhidden {
  position: absolute; /* visually hidden: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}