body {
  padding-bottom: 4rem;
}

.pitch {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.pitch,
.contact,
.post,
.thoughts,
.portfolio {
  margin-right: 1rem;
  margin-left: 1rem;
}

.contact {
  padding: 1rem;
}

.site-header {
  padding: 1rem 1rem 4rem 1rem;
}

.site-footer {
  padding: 4rem 1rem 0 1rem;
  text-align: right;
}

/* Portfolio */

.post.project {
  
  section {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
}


/* Wider than a phone
------------------------------------------------- */
@media screen and (min-width: 40rem) {

  body {
    padding-bottom: 1rem;
  }

  .pitch,
  .contact,
  .post,
  .portfolio,
  .thoughts {
    position: relative;
    width: 80%;
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
  }

  .pitch {
    font-size: 1.25em;
    z-index: 1;
  }

  .pitch h1 {
    font-size: 1.5em;
  }

  .contact {
    border: 3px solid transparentize($benji-blue, .8);
    background-color: transparentize($benji-purple, 1);
    transition: background-color .6s ease, margin-top 1s ease, color 1s ease, border 1s ease;
    z-index: 1000;
    overflow: hidden;
  }

  .contact-points {
    overflow: hidden;
    height: 1px;
    opacity: 0;
    transition: height 1s ease, opacity 1s ease;
  }

  .contact-points .contact-email,
  .contact-points .contact-phone {
    font-size: 1.25em;
  }

  .contact h2 {
    font-size: 2em;
    color: transparentize($black, .25);
    transition: color .6s ease;
  }

  .contact:hover,
  .contact:focus {
    border: 4px solid $benji-purple;
    background-color: $benji-purple;
    margin-top: -6rem;
    h2 {
      color: $white;
    }
    .contact-points {
      height: 6.5rem;
      opacity: 1;
    }
  }

  .contact-points-section {
    float: left;
  }

  .contact-points-signup {
    width: 48%;
    margin-right: 2%;
  }

  .contact-points-info {
    width: 48%;
    margin-left: 2%;
  }

  .contact-points-info p:first-child {
    margin-top: .5rem;
  }
  
  /* Portfolio */
  
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-unit*2;
    
    .project-card {
      
    }
  }
  
  .post.project {
    max-width: 60rem;

    section {
      clear: both;
      padding-left: 20rem;
      
      h2 {
        float: left;
        margin-left: -20rem;
        width: 18rem;
      }
      
    }
  
    .post-header {
      float: left;
      width: 18rem;
    }
    
    .project-featured-image {
      float: right;
      width: calc(100% - 20rem);
      margin-bottom: 2rem;
    }
  
    
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-unit / 2;
  }

}

/* Taller and wider than a phone
------------------------------------------------- */
@media screen and (min-width: 40rem) and (min-height: 40rem) {

  .pitch {
    margin-top: 7rem;
  }
  
}

/* Taller than a small laptop
------------------------------------------------- */
@media screen and (min-width: 40rem) and (min-height: 50rem) {

  .site-footer {
    position: fixed;
    right: 0;
    bottom: 0;
  }

}

/* Wider than a medium laptop
------------------------------------------------- */

@media screen and (min-width: 65rem) {
  
  /* Portfolio */
  
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    .project-card {
      
    }
  }

  .site-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-bottom: 1rem;
  }

}
